@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 3000px;
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



header{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 20px 100px;
}


.img{
    margin: 20px 30px;
}

.details{
    font-weight: 500;
    font-size: 2em;
    display: flex;
    justify-content: center;
    width: 100%;
    
}


.visit a{
    color: #007185;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
}

.visit a:hover{
    color:#C7511F;
}


.star{
    color: #0F1111!important;
    font-weight: 500;
    font-size: 1.2em;

}


.price{
    font-weight: 500;
    font-size: 2em;
    display: inline;

}

p.price{
    font-size: 1.8em;
    font-weight: 350;
    color: #CC0C39!important;
}

.list{
    font-weight: 295;
    font-size: 1.1em;
}

.about strong{
    width: 100%;
    font-size: 1.4em;
    font-weight: 500;
}

.about p{
    width: 50%;
    display: inline;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-start;
}   


.about div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.video{
    width: 100%;
    height: 900px;
    margin: 20px;
    background: #0F1111;
    padding: 40px;

}



.text{
    color: #000000;
    background-color: #f8f8f8;
    display: block;
    display: flex;
    margin: 30px 0px;
    border-radius: 15px;
    padding: 4px 0px 4px 4px;
    font-weight: 800;

    font-size: 1.1em;
}

select{
    
    color: #363333;
    background-color: #c3cce2;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    border-radius: 15px;
    padding: 4px 30px;
}




.submit{
    color: #000000;
    background-color: rgb(255, 174, 0);
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 400;
    border-radius: 15px;
    border: 0;
    padding: 6px 80px;
    margin: 30px 0px;
    transition: 0.7s ease;

}

.submit:hover{
    background-color: rgb(255, 150, 0);
    transform: scale(1.1);
}


fieldset{
    padding: 20px 30px;
    border: 2px solid black;
    margin-top: 550px;
}